<ion-view style="" class=" " id="page10" title="Pesanan">
    <ion-content class="has-header" padding="true">
 <ion-refresher
    pulling-text="Geser ke Atas untuk Refresh data"
    on-refresh="doRefresh()">
  </ion-refresher>
        <style>
table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    text-align: left;
    padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2}

th {
    background-color: #4CAF50;
    color: white;
}
</style>
        <div style="overflow-x:auto;">
     <table>
  <thead>
    <tr>
      <th width="200">Nama Makanan</th>
      <th width="150">Status</th>
      <th>Jumlah Pesanan</th>
      <th width="150">Total</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="item in orders" class="animated fadeInUp">
      <td>{{item.product_name}}</td>
      <td>{{item.status}}</td>
      <td>{{item.item_qty}}</td>
      <td>IDR {{item.product_price}},00</td>
    </tr>
  </tbody>
</table>
</div>

    </ion-content>
</ion-view>
